<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" integrity="tu-clave-de-api" crossorigin="anonymous">
<app-navbar></app-navbar>
<app-config-navbar [numberOption]="5"></app-config-navbar>
<div class="configuration-tap5">
    <div class="row-2">
        <div class="titulo">
            <h1>Usuarios invitados</h1>
        </div>
        <div class="invitar">
            <app-my-button  [isGreen]="true"  style="margin-right: 10px; font-size: 20px;">INVITAR NUEVO</app-my-button>
        </div>
    </div>
    <div class="datos">
        <div class="usuario">
            <div class="imagen">
                <img src="../../../assets/pfp.svg" alt="Foto de perfil">
            </div>
            <div class="informacion">
                <h2>Nombre de usuario</h2>
                <h4>Correo electrónico del usuario</h4>
            </div>
            <div class="botones">
                <button class="button-red">Eliminar</button><button class="button">Ver más</button>
            </div>
        </div>
        <div class="usuario">
            <div class="imagen">
                <img src="../../../assets/pfp.svg" alt="Foto de perfil">
            </div>
            <div class="informacion">
                <h2>Nombre de usuario</h2>
                <h4>Correo electrónico del usuario</h4>
            </div>
            <div class="botones">
                <button class="button-red">Eliminar</button><button class="button">Ver más</button>
            </div>
        </div>
        <div class="usuario">
            <div class="imagen">
                <img src="../../../assets/pfp.svg" alt="Foto de perfil">
            </div>
            <div class="informacion">
                <h2>Nombre de usuario</h2>
                <h4>Correo electrónico del usuario</h4>
            </div>
            <div class="botones">
                <button class="button-red">Eliminar</button><button class="button">Ver más</button>
            </div>
        </div>
        <div class="usuario">
            <div class="imagen">
                <img src="../../../assets/pfp.svg" alt="Foto de perfil">
            </div>
            <div class="informacion">
                <h2>Nombre de usuario</h2>
                <h4>Correo electrónico del usuario</h4>
            </div>
            <div class="botones">
                <button class="button-red">Eliminar</button><button class="button">Ver más</button>
            </div>
        </div>
        <div class="usuario">
            <div class="imagen">
                <img src="../../../assets/pfp.svg" alt="Foto de perfil">
            </div>
            <div class="informacion">
                <h2>Nombre de usuario</h2>
                <h4>Correo electrónico del usuario</h4>
            </div>
            <div class="botones">
                <button class="button-red">Eliminar</button><button class="button">Ver más</button>
            </div>
        </div>
    </div>

</div>