<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" integrity="tu-clave-de-api" crossorigin="anonymous">
<app-navbar></app-navbar>
<app-config-navbar [numberOption]="3"></app-config-navbar>
<div class="configuration-tap3">
    <div class="card-info">
        <h2>INICIO DE USO</h2>
        <div class="row-2">
            <h3>Fecha de registro de la empresa</h3>
            <h3 style="color: #B2B2B2;">{{registerDate}}</h3>
        </div>
        <hr>
        <h2>CANTIDAD DE NIVELES EN EL PLAN DE CUENTAS</h2>
        <div class="row-2">
            <h3>Niveles del plan de cuentas</h3>
            <h3 style="color: #B2B2B2;">Infinito</h3>
        </div>
        <hr>
        <div style="margin-bottom: 0px;" class = "row-2">
            <h3>MONEDA PRINCIPAL</h3>
            <h3 style="color: #B2B2B2;">Bolivianos</h3>
        </div>
        <div class="row-2">
            <h3>Otras monedas que quiera manejar</h3>
            <div class="right">
            <app-my-button [isGreen]="true" (click)="addCurrency()">AGREGAR</app-my-button>
            </div>
        </div>
        <div style="min-height: 113px;">
            <div *ngFor="let currency of currencies" class="moneda-item">
            {{ currency.moneyName }}
            </div>
        </div>
    </div>
</div>
<!-- Popup para agregar monedas -->
<!-- Capa de fondo desenfocada -->
<div class="overlay" *ngIf="showPopup"></div>
<!-- Popup para agregar monedas -->
<div *ngIf="showPopup" class="popup">
    <div class="popup-title">
        <span class="icon">
            <i class="fa-solid fa-coins"></i>
        </span>
        <h2 class="h2-title">Registro de Moneda</h2>
    </div>
    <div class="row-2-popup">
        <h3>Nombre de Moneda</h3>
        <input type="text" id="popupNombreMoneda" [(ngModel)]="currencyName" class="input-group">
        <div></div>
        <div #errorName class="error-message">Nombre de moneda existente</div>
    </div>
    <br>
    <div class="row-2-popup">
        <h3>Código de Moneda (Código ISO)</h3>
        <input type="text" id="popupCodigoISO" [(ngModel)]="currencyCode" class="input-group">
        <div></div>
        <div #errorCode class="error-message">Código de moneda existente</div>
    </div>
    <div #errorEmpty class="error-message" style="margin-top: 10px;">Para continuar debes llenar todos los campos</div>
    <div class="popup-buttons right">
        <app-my-button [isGreen]="true" (click)="saveCurrency()">ACEPTAR</app-my-button>
        <app-my-button [isRed]="true" (click)="cancel()">CANCELAR</app-my-button>
    </div>
</div>
