<div class="wrapper">
  <div class="container">
    <h2>Entidades</h2>
    <hr>
    <h4>Formulario</h4>
    <div class="inputs-container">
      <app-my-textfield type="text" [label]="'Nombre'" [control]="controlEntityName" [pattern]="patternAll" [errorMessage]="patternAllMessage" [placeholder]="'Ingrese el nombre de la entidad'"></app-my-textfield>
      <app-my-textfield type="text" [label]="'Nit'" [control]="controlEntityNit" [pattern]="patternAll" [errorMessage]="patternAllMessage" [placeholder]="'Ingrese el nit de la entidad'"></app-my-textfield>

    </div>
    <div class="inputs-row">
      <app-my-textfield type="text" [label]="'Razon Social'" [control]="controlEntitySocialReason" [pattern]="patternAll" [errorMessage]="patternAllMessage" [placeholder]="'Ingrese la razon social de la entidad'"></app-my-textfield>
      <!-- Checkbox de Extranjera -->
      <div class="checkbox-container">
        <input type="checkbox" [formControl]="controlEntityForeign"> Extranjera
      </div>
    </div>
    <div class="buttons-container">
      <app-my-button [isGreen]="true" (click)="addOrUpdateEntity()">
        {{ selectedEntity ? 'EDITAR' : 'AGREGAR' }}
      </app-my-button>
      <app-my-button [isRed]="true" *ngIf="selectedEntity" (click)="cancelEdit()">CANCELAR</app-my-button>
    </div>
    <hr>
    <h4>Lista de entidades</h4>
    <div class="table-container">
      <mat-table [dataSource]="entity">
        <ng-container matColumnDef="nro">
          <mat-header-cell *matHeaderCellDef> Nro </mat-header-cell>
          <mat-cell *matCellDef="let entity"> {{entity.entityId}} </mat-cell>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
          <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
          <mat-cell *matCellDef="let entity"> {{entity.entityName}} </mat-cell>
        </ng-container>

        <!-- Nit Column -->
        <ng-container matColumnDef="nit">
          <mat-header-cell *matHeaderCellDef> Nit </mat-header-cell>
          <mat-cell *matCellDef="let entity"> {{entity.entityNit}} </mat-cell>
        </ng-container>
        <!-- Social reason Column -->
        <ng-container matColumnDef="razonSocial">
          <mat-header-cell *matHeaderCellDef> Razon social </mat-header-cell>
          <mat-cell *matCellDef="let entity"> {{entity.entitySocialReason}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="extranjera">
          <mat-header-cell *matHeaderCellDef> Extranjera </mat-header-cell>
          <mat-cell *matCellDef="let entity"> {{ entity.foreign ? 'Sí' : 'No' }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef> Editar - Eliminar </mat-header-cell>
          <mat-cell *matCellDef="let entity">
            <button class="edit" (click)="loadEntityForEdit(entity)" mat-icon-button>
              <mat-icon>edit</mat-icon>
            </button>
            <button class="delete" mat-icon-button (click)="deleteEntity(entity)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
