<div style="margin: 0 3%">
  <div style="margin-top: 20px;">
    <h1>Configuración de la empresa</h1>
  </div>
  <hr style="margin: 0 0px; border-color:#EDEDED;">
  <div style="margin: 0 3%; margin-top: 20px;">
    <h1>Progress bar</h1>



  </div>

  <app-my-button [buttonLabel]="buttonText" (clicked)="onClick()"></app-my-button>

<!--  <app-my-textfield [placeholder]="placeholderText" (textChanged)="onTextChanged($event)"></app-my-textfield>-->
<app-my-button-squared  ></app-my-button-squared>




</div>


<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
    <app-my-button-squared  ></app-my-button-squared>
  </mat-tree-node>
</mat-tree>
