<div class="tap4">
  <div class="container">
    <h1 class="header-title">Configuración de la empresa</h1>
    <hr>
    <app-progress [steps]="[1, 2, 3, 4]" [currentStep]="4"></app-progress>
    <hr class="linea">
    <h2>PLAN DE CUENTAS</h2>
    <div class="data">
      <app-my-button-squared (clicked)="setSelectedNode(null)"></app-my-button-squared>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <button style="margin-left: 8px;" mat-icon-button disabled></button>
          <div class="separator"></div>
          {{node.name}}
          <div class="separator"></div>
          <app-my-button-squared (clicked)="setSelectedNode(node)" data-toggle="modal" data-target="#modal"></app-my-button-squared>
          <div class="right">
            <app-circular-button (clicked)="deleteAccount(node)"></app-circular-button>
          </div>
        </mat-tree-node>
        <hr>
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
          <button class="expand-button" mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <i style="color: #757575;" class="fa-solid" [ngClass]="{'fa-caret-up': treeControl.isExpanded(node), 'fa-caret-down': !treeControl.isExpanded(node)}"></i>
          </button>
          <div class="separator"></div>
          {{node.name}}
          <div class="separator"></div>
          <app-my-button-squared (clicked)="setSelectedNode(node)" data-toggle="modal" data-target="#modal"></app-my-button-squared>
        </mat-tree-node>
      </mat-tree>
    </div>
    <div class="row-2">
      <div class="left">
        <a routerLink="/initial-config/tap3">&lt;&lt; Atras</a>
      </div>
      <div class="right">
        <button class="button" (click)="guardarJSON()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<!-- Capa de fondo desenfocada -->
<div class="overlay" *ngIf="mostrarPopup"></div>
<div class="overlay" *ngIf="mostrarPopupSon"></div>
<!--- MODAL PARENT -->
<div *ngIf="mostrarPopup" class="popup">
  <div class="popup-title">
    <span class="icon">
      <i class="fa-regular fa-pen-to-square"></i>
    </span>
    <h2 class="h2-title">Registro de Cuenta</h2>
  </div>
  <div class="row-2-popup">
    <h3>Nombre de la cuenta </h3>
    <input [(ngModel)]="accountName" type="text" placeholder="Ingresa el nombre de la cuenta">
  </div>
  <div class="checkbox">
    <input type="checkbox" id="checkParent" name="check" value="check">
    <label for="check">Rubro monetario</label>
  </div>
  <div class="alinear">
    <h3>Reporte</h3>
    <label class="label-report alinear" for="balanceGeneral">
      <input type="radio" id="balanceGeneral" [(ngModel)]="accountReport" value="true"> Balance General
    </label>
    <label class="label-report alinear" for="estadoResultados">
      <input type="radio" id="estadoResultados" [(ngModel)]="accountReport" value="false"> Estado de Resultados
    </label>
  </div>
  <div class="popup-buttons right">
    <app-my-button [isGreen]="true" (click)="addNewChildAccount(null)">GUARDAR</app-my-button>
    <app-my-button [isRed]="true" (click)="cancel()">CANCELAR</app-my-button>
  </div>
</div>

<!--- MODAL SON -->
<div *ngIf="mostrarPopupSon" class="popup">
  <div class="popup-title">
    <span class="icon">
      <i class="fa-regular fa-pen-to-square"></i>
    </span>
    <h2 class="h2-title">Registro de Cuenta</h2>
  </div>
  <div class="row-2-popup">
    <h3>Nombre de la cuenta </h3>
    <input [(ngModel)]="accountName" type="text" placeholder="Ingresa el nombre de la cuenta">
  </div>
  <div class="checkbox">
    <input type="checkbox" id="check" name="check" value="check" [(ngModel)]="accountMoneyRub">
    <label for="check">Rubro monetario</label>
  </div>
  <div class="alinear">
    <h3>Reporte</h3>
    <label class="label-report alinear" for="balanceGeneral">
      <input type="radio" id="balanceGeneral" [(ngModel)]="accountReport" value="true"> Balance General
    </label>
    <label class="label-report alinear" for="estadoResultados">
      <input type="radio" id="estadoResultados" [(ngModel)]="accountReport" value="false"> Estado de Resultados
    </label>
  </div>
  <div class="popup-buttons right">
    <app-my-button [isGreen]="true" (click)="addNewChildAccount(selectedNode)">GUARDAR</app-my-button>
    <app-my-button [isRed]="true" (click)="cancel()" >CANCELAR</app-my-button>
  </div>
</div>
