<nav class="navbar">
    <div class="navbar-brand center">
        <img class="logo" src="../../../favicon.ico"/>
        <h2>ABCOUNT</h2>
    </div>
    <a class="nav-link option" routerLink="#">Inicio</a>
    <a class="nav-link option" routerLink="#">Datos</a>
    <a class="nav-link option" routerLink="/reports">Reportes</a>
    <a class="nav-link dropdown-toggle center" (click)="toggleDropdown()">
        <img class="img-profile" src="{{urlPfp}}">
        <i class="fa-solid" [ngClass]="{'fa-caret-up': isDropdownOpen, 'fa-caret-down': !isDropdownOpen}" ></i>
        <div class="dropdown-menu" [style.display]="isDropdownOpen ? 'flex' : 'none'">
            <a class="dropdown-item" routerLink="#">Mi perfil</a>
            <hr>
            <a class="dropdown-item" href="#">Ayuda</a>
            <a class="dropdown-item" href="/configuration-tap/1">Configuración</a>
            <hr>
            <a class="dropdown-item" href="/my-companies">Cambiar de empresa</a>
            <a class="dropdown-item" (click)="logout()">Cerrar sesión</a>
        </div>
    </a>
</nav>