/*Características generales*/
* {
    margin: 0;
    font-family: 'Anek Telugu', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Navbar - detalles*/
.navbar {
    padding: 1% 5%;
}
/*Logo*/
.navbar-brand {
    margin-right: 65px;
    padding: 0;
}
h2 {
    font-size: 24px;
    font-family: 'Gugi', cursive;
    background-image: linear-gradient(to right, #66cdab, #489ce9);
    background-clip: text;
    -webkit-background-clip: text; /* Para navegadores webkit (Safari, Chrome) */
    color: transparent;
    margin: 2px 0 0 8px;
}
.logo {
    width: 40px;
}
/*Opciones izquierda*/
.option {
    padding: 12px 65px 6px 10px !important;
    padding-top: 4px;
    margin: 0;
}
.option:hover {
    background-color: #DCF8EF;
    border-radius: 3px;
    color: #66cdab !important;
}

/*Opciones de perfil*/
hr {
    margin: 5px 10px;
}
.dropdown-item {
    color: #757575 !important;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 24px 3px 24px;
    cursor: pointer;
}
.dropdown-item:hover {
    color: black !important;
}
.dropdown-item:active {
    background-color: #DCF8EF !important;
    color: #66cdab !important;
}