<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand">
        <img src="./assets/icons/carta-a.png" width="35px" style="border-radius: 100%; height: 35px;">
        <h2>ABCOUNT</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item option"><a class="link" routerLink="/home">Inicio</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <a class="link" routerLink="/Data">Datos</a>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item plomo" routerLink="#">Comprobantes contables</a>
                    <a class="dropdown-item plomo" href="#">Cuentas auxiliares</a>
                    <a class="dropdown-item plomo" href="#">Cuentas de entidades</a>
                    <a class="dropdown-item plomo" href="#">Tasa de cambio</a>       
                </div>
            </li>  
            <li class="nav-item option"><a class="link" routerLink="/">Reportes</a></li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="./assets/icons/usuario-de-perfil.png" width="35px" style="border-radius: 100%; height: 35px;">
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item plomo" routerLink="/profile">Mi perfil</a>
                    <a class="dropdown-item plomo" href="/">Ayuda</a>
                    <a class="dropdown-item plomo" href="/configuration-tap1">Configuraciones</a>
                    <a class="dropdown-item plomo" href="#">Notificaciones</a>       
                    <button class="dropdown-item plomo" >Cerrar sesión</button>
                </div>
            </li>
        </ul>
    </div>
</nav>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@1000&display=swap" rel="stylesheet">
