/*Quitar los estilos generales*/
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Anek Telugu', sans-serif !important;
}
/*Background*/
.tap1 {
    background-color: #EEEEEE;
    padding: 5% 20%;
    min-height: 100%;
}
/*Información*/
.container {
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
}
/*Subtitulos*/
h2, h3 {
    font-size: 14px;
    color: #757575;
    height: 14px;
    margin: 0px;
}
h3 {
    margin-bottom: 15px;
    font-weight: 500;
}
/*Link*/
a {
    font-size: 14px;
    font-weight: 600;
    color: #757575;
    text-decoration: none;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
a:focus {
    outline: none !important;
}
a:hover {
    text-decoration: none;
    color: #7BC8CA;
}
/*Título*/
.header-title {
    font-size: 20px;
    font-weight: 590;
    margin-bottom: 10px;
}
/*Linea*/
.separator {
    margin: 0 0px;
    border-color: #EDEDED;
}
/*Estilos de las filas*/
.row-3 {
    display: grid;
    grid-template-columns: 20% 35% 35%;
    gap: 5%;
    margin-top: 20px;
}
.row-2 {
    display: grid;
    grid-template-columns: 20% 75%;
    gap: 5%;
    margin-top: 20px;
}

/*Estilos para la imagen*/
.upload-container {
    position: relative;
}

.drag-drop-area {
    border: #66CDAA 2px dashed;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}

.drag-drop-area span {
    color: #66CDAA;
    text-decoration: underline;
    cursor: pointer;
}

.preview-image {
    max-width: 100%;
    height: auto;
    max-height: 150px;
    display: block;
}

.navigation {
    text-align: right;
    font-size: 20px;
}

/*Estilos para el botón eliminar*/
.image-container {
    position: relative;
    display: inline-block;
}
.delete-button {
    position: absolute;
    top: 0; /* Alineación en la parte superior */
    right: 0; /* Alineación a la derecha */
    background-color: #FFDBDB; 
    border: none;
    margin-right: 10px;
    margin-top: 10px;
    padding: 3px 6px;
    color: #FF0000; 
    cursor: pointer;
    border-radius: 100%;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.delete-button:focus {
    outline: none;
}
.delete-button:hover {
    background-color: #FF0000;
    color: white; 
}