
<div class="tap1">
    <div class="container">
        <h1 class="header-title">Configuración de la Empresa</h1>
        <hr class="separator">

            <app-progress [steps]="[1, 2, 3, 4]" [currentStep]="1"></app-progress>

        <div class="row">
            <!-- Columna 1: IDENTIFICACIÓN -->
            <div>
                <h2>IDENTIFICACIÓN</h2>
            </div>
            <!-- Columna 2: Campos de texto -->
            <div>
                <h3>Nombre</h3>
                <app-my-textfield [placeholder]="placeholderNombre" ></app-my-textfield>
                <h3>Rubro</h3>
                <app-my-textfield [placeholder]="placeholderRubro" ></app-my-textfield>
                <h3>NIT</h3>
                <app-my-textfield [placeholder]="placeholderNIT" ></app-my-textfield>
            </div>
            <!-- Columna 3: Cargar Logo -->
            <div>
                <h3>Logo</h3>
                <div class="upload-container">
                    <div *ngIf="!imageURL" (dragover)="onDragOver($event)" (drop)="onDrop($event)" (dragleave)="onDragLeave($event)" [class.dragging]="isDragging">
                        <input type="file" (change)="onFileChanged($event)" accept="image/*" #fileInput style="display: none">
                        <div class="drag-drop-area" (click)="fileInput.click()">
                            Arrastra y suelta una imagen aquí o <span>selecciona un archivo</span>
                        </div>
                    </div>
                    <div *ngIf="imageURL">
                        <img [src]="imageURL" alt="Vista previa del logo" class="preview-image">
                        <button (click)="removeImage()">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>

        <hr class="separator">
        <div class="row">
            <div>
                <h2>UBICACIÓN</h2>
            </div>
            <div>
                <h3>Dirección</h3>
                <app-my-textfield [placeholder]="placeholderDireccion" ></app-my-textfield>
            </div>
        </div>
        <hr class="separator">

        <div class="row">
            <div>
                <h2>CONTACTO</h2>
            </div>
            <div>
                <h3>E-mail de contacto: </h3>
                <app-my-textfield [placeholder]="placeholderEmail" ></app-my-textfield>
            </div>
            <div>
                <h3>Número de contacto</h3>
                <app-my-textfield [placeholder]="placeholderNumeroContacto" ></app-my-textfield>
            </div>
        </div>


        <div class="navigation">
            <a routerLink="/tap2"> Siguiente >></a>
        </div>
    </div>
</div>
