<div style="margin: 0 3%;">
    <div style="margin-top: 20px;">
        <h1>Configuración de la empresa</h1>
    </div>
    <hr style="margin: 0 0px; border-color:#EDEDED;">
    <div style="margin: 0 3%; margin-top: 20px;">
        <h1>NavBar Progres en desarrollo :D</h1>
        <div class="wrapper">
            <div class="registro" style="margin-right: 5%;">
                <hr style="margin: 0 0px; border-color:#EDEDED;">
                <div>
                    <div style="margin-top: 15px;" class="wrapper2">
                        <div>
                            <h1>Sucursal</h1>
                        </div>
                        <div>
                            <h2>Nombre</h2>
                            <div  style="width: 80%;">
                              <app-my-textfield [placeholder]="placeholderSubsidiary" (textChanged)="onInputText($event)"></app-my-textfield>
                            </div>
                            <br>
                            <h2>Dirección</h2>
                            <div style="width: 80%;">
                              <app-my-textfield [placeholder]="placeholderAddress" (textChanged)="onInputText($event)"></app-my-textfield>
                            </div>
                            <div>
                                <app-my-button [buttonLabel]="buttonText" (clicked)= "onClick()"></app-my-button>
                            </div>
                        </div>
                        <br>

                    </div>
                    <hr style="margin: 0 0px; border-color:#EDEDED;">
                    <div style="margin-top: 25px;" class="wrapper2">
                        <div>
                            <h1>Área</h1>
                        </div>
                        <div>
                            <h2>Nombre</h2>
                            <div  style="width: 80%;">
                              <app-my-textfield [placeholder]="placeholderArea" (textChanged)="onInputText($event)"></app-my-textfield>
                            </div>
                            <div>
                              <app-my-button  [buttonLabel]="buttonText" (clicked)= "onClick()"></app-my-button>
                            </div>

                        </div>

                    </div>
                    <br>
                    <hr style="margin: 0 0px; border-color:#EDEDED;">

                </div>

            </div>
            <div class="datos">

                Los datos iran aca pronto :D

            </div>
        </div>
        <div style="margin-top: 15px;" class="wrapper">
            <div>
                <h1> Atras</h1>
            </div>
            <div style="margin-left: 400px">
                <h1>Siguiente>></h1>
            </div>
            <br>

        </div>
        <!-- <li class="nav-item option"><a class="nav-link" routerLink="/tap2">Atras</a></li> -->

    </div>

</div>
