.wrapper {
    display: grid;
    grid-template-columns: 65% 35% ;

  }
.wrapper2 {
    display: grid;
    grid-template-columns: 40% 60%;
  }
.registro{

}
.datos{
    border: #EDEDED 2px solid;
    width: 100%;
    height: 600px;
}
.input {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    border: #66CDAA 2px solid;
    border-radius: 10px;
    outline: none;
    width: 100%;
    margin-bottom: 25px;
    padding: 10px 20px;
}
.boton {
    outline: none;
    border: 0 !important;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin-left: 72%;
    background-color: #66CDAA;
}
.tap2{
    background-color: #EEEEEE;
    border:  #EEEEEE 2px solid;
    padding: 0;
    box-sizing: border-box;

}
.container{
    background-color: white;
    border: white solid 2px;
    margin: 2% 15%;
    padding: 0;
    box-sizing: border-box;
    height: 30%;

}
h1{
    font-family: roboto;
    font-size: 23px;
    font-weight: 575;
}
h2{
    font-family: 'Anek Telugu', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #757575;
}
h3{
    font-family: 'Anek Telugu', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #757575;
}

