<div class="tap2">
    <div class="container">
        <div style="margin-top: 20px; margin-left: 20px;">
            <h1>Configuración de la Empresa</h1>
        </div>
        <hr>
        <div style="margin: 0 3%; margin-top: 20px;">
            <app-progress [steps]="[1, 2, 3, 4]" [currentStep]="2"></app-progress>

            <div class="wrapper">
                <div class="registro" style="margin-right: 5%; margin-left: 3%;">
                    <hr>
                    <div>
                        <div style="margin-top: 15px;" class="wrapper2">
                            <div>
                                <h2>SUCURSAL</h2>
                            </div>
                            <div>
                                <h3>Nombre</h3>
                                <div class="input1">
                                    <app-my-textfield [control]="subsidiaryControl"  [placeholder]="placeholderSubsidiary" ></app-my-textfield>
                                </div>
                                <button (click)="printValue()">Imprimir valor</button>


                                <h3>Dirección</h3>
                                <div class="input1">
                                    <app-my-textfield [placeholder]="placeholderAddress" ></app-my-textfield>
                                </div>
                                <div>
                                    <app-my-button style="margin-left: 72%;" (clicked)="onClick()"></app-my-button>
                                </div>
                            </div>
                            <br>
                        </div>
                        <hr>
                        <div style="margin-top: 25px;" class="wrapper2">
                            <div>
                                <h2>ÁREA</h2>
                            </div>
                            <div>
                                <h3>Nombre</h3>
                                <div class="input1">
                                    <app-my-textfield [placeholder]="placeholderArea"></app-my-textfield>
                                </div>
                                <div class="boton1">
                                    <app-my-button (clicked)="onClick()"></app-my-button>
                                    <!-- Revisar el ancho del boton -->
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr>
                    </div>
                </div>
                <div class="datos">
                    <div class="tree">
                        <ul>
                          <li *ngFor="let elemento1 of arbol">
                             <button class="toggle" (click)="toggleChildren(elemento1)">{{ elemento1.mostrarHijos ? '-' : '>' }}</button>
                             <span>{{ elemento1.nombre }}</span>
                             <hr class="hr-datos">
                             <ul *ngIf="elemento1.mostrarHijos">
                               <li *ngFor="let elemento2 of elemento1.children">
                                 <button class="toggle" (click)="toggleChildren(elemento2)">{{ elemento2.mostrarHijos ? '-' : '>' }}</button>
                                 <span>{{ elemento2.nombre }}</span>
                                 <hr class="hr-datos">
                                 <ul *ngIf="elemento2.mostrarHijos">
                                    <li *ngFor="let elemento3 of elemento2.children" class="area">
                                        <div class="area">
                                            <span>{{ elemento3.nombre }}</span>         
                                            <button class="circulo">x</button>
                                        </div>
                                    </li>
                                 </ul>
                               </li>
                             </ul>
                           </li>
                        </ul>
                    </div>
                </div>
            </div>
       
            <div style="margin-top: 15px;" class="wrapper">
                <div>
                    <a routerLink="/tap1"><h1>&lt;&lt;Atras </h1></a>
                </div>
                <div style="margin-left: 330px">
                    <a routerLink="/tap3"><h1>Siguiente&gt;&gt;</h1></a>
                </div>
                <br>
            </div>
            <!-- <li class="nav-item option"><a class="nav-link" routerLink="/tap2">Atras</a></li> -->
        </div>
    </div>
</div>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@700&display=swap" rel="stylesheet">
