.wrapper {
    display: grid;
    grid-template-columns: 65% 35% ;

  }
.wrapper2 {
    display: grid;
    grid-template-columns: 40% 60%;
  }
.registro{
    margin: 0;
}
.datos{
    border: #EDEDED 2px solid;
    width: 100%;
    height: 600px;
    background: url(/assets/icons/paisaje-urbano.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 95%;
}
a{
    text-decoration: none;
    color: black;
    
}
.area{
    width: 100%;
    height: 100%; 
}
.input {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    border: #66CDAA 2px solid;
    border-radius: 10px;
    outline: none;
    width: 91%;
    margin-bottom: 25px;
    padding: 10px 20px;
}
.input1{
    outline: none;
    width: 91%;
    margin-top: -13px;
}
.boton {
    outline: none;
    border: 0 !important;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin-left: 72%;
    background-color: #66CDAA;
}
.boton1{
    margin-left: 72%;
    width: 80%;
}
.tap2{
    background-color: #EEEEEE;
    border:  #EEEEEE 2px solid;
    padding: 0;
    box-sizing: border-box;

}
.container{
    background-color: white;
    border: white solid 2px;
    margin: 2% 15%;
    padding: 0;
    box-sizing: border-box;
    height: 30%;

}
.hr{
    margin: 0 0px; 
    border-color:#EDEDED;
}
.hr-datos{
    margin: 0 0px; 
    border-color:#EDEDED;
    margin-top: 10px;
    margin-right: 25px;

}
h1{
    font-family: roboto;
    font-size: 23px;
    font-weight: 575;
}
h2{
    font-family: 'Anek Telugu', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #757575;
}
h3{
    font-family: 'Anek Telugu', sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #757575;
}
/* Estilos para la barra de progreso */
.barra-progreso {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    position: relative;
}

/* Estilos para cada etapa */
.etapa {
    text-align: center;
    position: relative;
}

/* Estilos para los círculos */
.circulo {
    background-color: #FFDBDB;
    color: #FF0000;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    position: relative;
    z-index: 1;
    border: none; 
    left: 70px;
    
}

/* Estilos para el texto debajo de los círculos */
.etapa p {
    margin-top: 5px;
}

/* Estilos para la línea */
.barra-progreso::before {
    content: "";
    width: 100%;
    height: 5px;
    background-color: #66CDAA;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    z-index: 0;
}

/* Para el arbol */
/* Estilos para el árbol */
.tree ul {
    list-style-type: none;
    padding-left: 20px; /* Sangría para los niveles */
  }
  
  .tree li {
    margin: 0;
    padding: 5px 0;
    position: relative;
    top: 5px;
  }
  
  .tree li::before {
    content: "";
    position: absolute;
    /* left: -15px;
    border-left: 1px solid #ccc; */
    height: calc(100% - 10px);
  }
  
  /* Estilos para los botones de expansión/ocultación */
  .toggle {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 0 5px;
    cursor: pointer;
  }
  
  /* Estilo para los botones de expansión/ocultación cuando están expandidos */
  .toggle.expanded {
    transform: rotate(90deg); /* Gira el botón para indicar expansión */
  }
  
  /* Estilos para los elementos del árbol */
  .tree span {
    padding: 5px 10px;
    border-radius: 5px;
    padding-left: 10px; /* Sangría para los niveles */
    font-family: roboto;
    font-size: 18px;
    font-weight: 430;
    color: #757575;
    display: inline-block;
  }
  
  /* Estilos para el elemento raíz del árbol */
  .tree ul:first-child > li {
    padding-top: 0;
  }
  .area{
    top: 400px;
  }