<div class="background center">
    <div style="width: 30%;" *ngIf="loading; else content">
        <div class="loading-text">Cargando...</div>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <ng-template #content>
        <div class="header">
            <img src="../../../assets/notificacion.png" alt="notificación" width="60px" (click)="popup()">
        </div>
        <div class="my-companies">
            <div class="add-company">
                <a routerLink="/initial-config/tap1">
                    <img src="../../../assets/add-company.svg" alt="add-company" width="120px">
                </a>
            </div>
            <div *ngFor="let company of companies" class="company">
                <a (click)="saveData(company.companyId, company.userId)" >
                    <div class="company-logo center">
                        <img src={{company.urlIconImage}} alt="company-{{company.companyId}}-logo">
                    </div>
                    <div class="center-text">{{company.companyName}}</div>
                </a>
            </div>
        </div>
    </ng-template>
</div>

<!-- Popup -->
<div class="overlay" *ngIf="isDialogVisible"></div> <!-- Fondo oscuro -->
<div class="custom-confirm-dialog" *ngIf="isDialogVisible">
  <div class="dialog-content">
    <div class="popup-header">
        <h5>Notificaciones</h5>
        <img src="../../../assets/cancelar.png" alt="notificación" width="35px" (click)="closeWindow()">
    </div>
    <hr>
    <div class="datos" *ngFor="let invitacion of pendingInvitation; let inInvi = index">
        <div>
            <img src={{getImageProfile(invitacion.urlImage)}} alt="notificación" width="90px">
        </div>
        <div>
            <h5>Invitación de {{invitacion.companyName}}</h5>
            <p>¡Buenas noticias! La empresa {{invitacion.companyName}} te ha invitado a acceder a su contabilidad a través de nuestro sistema. ¿Deseas aceptar la invitación?</p>
            <div class="dialog-actions">
                <button (click)="confirmInvitation(inInvi)" class="Aceptar">Confirmar</button>
                <button (click)="cancelDelete(inInvi)" class="Cancelar">Rechazar</button>
            </div>
        </div>
    </div>
</div>