/* Estilos generales */
body {
  font-family: Arial, sans-serif;
}
.contenedor {
  width: 95%;
  height: 80%;
  margin: auto;
  position: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.text-green {
  color: green;
}

.text-red {
  color: red;
}



.header {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.column {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 1%;
}
.column:last-child {
  margin-right: 0;
}

.column input, .column select {
  width: 90%;
}

input, select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button{
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.total{
  width: 10% !important;
  padding: 10px;
  margin-bottom: 10px;
}

textarea {
  width: 99%;
  height: 100px;
  resize: vertical;
  margin-left: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #e0e0e0;
}

th, td {
  padding: 5px; /* Reducido de 10px a 5px */
  text-align: left;
}

.footer-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.footer-buttons > div {
  display: flex;
  align-items: center;
  gap: 10px; /* Espacio entre elementos dentro de cada div */
}

.footer-buttons button {
  /* Estilos de los botones, como padding, color, etc. */
}

/* Para los inputs del Debe y Haber */
.footer-buttons input {
  width: 100px; /* Puedes ajustar según el ancho deseado */
}
.result{
  background-color: #8AEABA;
  color: white;
  justify-content: center;
}
.navegation{
  background-color: #BCE6FA;
  color: white;
}
.option1{
  background-color: #D7B8FD;
  color: white;
}
.option2{
  background-color: #FFADA1;
  color: white;
}
.add{
  background-color: #8AEABA;
  color: white;
  justify-content: center;
  width: 150px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
}
.add i {
  margin-right: 5px;
  display: inline-block;
  width: auto;
  height: auto;
}



