<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" integrity="tu-clave-de-api" crossorigin="anonymous">
<div class="tap2">
    <div class="container">
        <div class="header">
            <div class="imagen">
                <img src="../../../assets/agregar-usuario.png" alt="Foto de perfil">
            </div>
            <h1 class="header-title">Invitar usuario - empleado</h1>
        </div>
        <div class="buscar-usuario">
            <h2>Buscar usuario</h2>
            <input type="text" id="NombreUsuario"  class="" placeholder="Ingresa el nombre del usuario">
        </div>
        <div class="wrapper">
            <div class="tree">
                s
            </div>
            <div class="role">
                s
            </div>
        </div>
        <div class="invitar">
            <app-my-button  [isGreen]="true"  style="margin-right: 10px; font-size: 20px;">ENVIAR INVITACION</app-my-button>
            <a routerLink="/configuration-tap5"><app-my-button [isRed]="true" >CANCELAR</app-my-button></a>
        </div>
        <!-- <button (click)="printValue()">Imprimir valor</button> -->
    </div>
</div>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>