/*Quitar los estilos generales*/
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  /*Background*/
  .tap2 {
    background-color: #EEEEEE;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*Contenedor*/
  .container {
    background-color: white;
    border-radius: 10px;
    padding: 20px 25px;
    box-sizing: border-box;
    max-width: 45%;
    height: 560px;
  }
  /*Título*/
  .header{
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 10% 90%;
  }
  .header-title {
    font-size: 20px;
    font-weight: 590;
    margin-bottom: 10px;
  }
  /*Buscar-usuario*/
  .buscar-usuario{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  /*Subtitulos*/
  h2 {
    font-size: 14px;
    color: #757575;
    height: 14px;
    font-weight: 500;
  }
  /*Linea*/
  .separator {
    margin: 10px 0px;
    border-color: #EDEDED;
  }
  /*Input*/
  input {
    display: block;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    border: #D9D9D9 1px solid;
    border-radius: 4px;
    outline: none;
    width: 50%;
    padding: 3px 8px;
    caret-color: #66CDAA;
    transition: border 0.5s; /* Agregar transición a la propiedad border */
  }
  
  
  input:focus {
    border: 1px solid #66CDAA;
  }
  
  input::placeholder {
    transition: opacity 0.25s;
  }
  /*Imagen de usuario*/
  img {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    background-color: #f5f5f7;
  }
  /*Contenedor de la imagen*/
  .imagen{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  /*Links*/
  a {
    font-size: 14px;
    font-weight: 600;
    color: #757575 !important;
    text-decoration: none;
    transition: all 0.4s !important;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    cursor: pointer !important;
  }
  a:focus {
    outline: none !important;
  }
  a:hover {
    text-decoration: none;
    color: #7BC8CA !important;
  }
  /*Boton de siguiente - atras*/
  .navigation {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  /*Estilo dos columnas principales*/
  .wrapper {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 4%;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 357px;
  }
  /*Estilos dos columnas secundarias*/
  .wrapper2 {
    display: grid;
    grid-template-columns: 40% 60%;
  }
  /*Alinear a la izquierda*/
  .right {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-top: 15px;
  }
  /*Div de los botones*/
  .invitar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
}
  
  /*Lado izquierdo*/
  .tree{
    border: #EDEDED 1px solid;
    width: 100%;
    height: 100%;
    background: url(/assets/buildings.svg);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 95%;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px 15px 10px 0px;
    max-height: 100%;
    overflow-y: auto;
  }
  /*Lado derecho*/
  .role{
    border: #EDEDED 1px solid;
    width: 100%;
    height: 100%;
    background: url(/assets/roles.svg);
    background-size: 65%;
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 95%;
    border-radius: 5px;
    margin: 10px 0px;
    padding: 10px 15px 10px 0px;
    max-height: 100%;
    overflow-y: auto;
  }

  
  /* Para el arbol */
  /* Estilos para el árbol */
  .tree ul {
    list-style-type: none;
    padding-left: 15px; /* Sangría para los niveles */
  }
  
  .tree li::before {
    content: "";
    position: absolute;
    height: calc(100% - 10px);
  }
  
  /* Estilos para los botones de expansión/ocultación */
  .toggle {
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 0 5px;
    cursor: pointer;
  }
  .toggle:focus {
    outline: none;
  }
  
  /* Estilo para los botones de expansión/ocultación cuando están expandidos */
  .toggle.expanded {
    transform: rotate(90deg); /* Gira el botón para indicar expansión */
  }
  /* Estilos para los elementos del árbol */
  .tree span {
    padding: 5px 10px;
    border-radius: 5px;
    padding-left: 10px; /* Sangría para los niveles */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    display: inline-block;
    margin: 0;
    
  } 
  /* Estilos para el elemento raíz del árbol */
  .tree ul:first-child > li {
    padding-top: 0;
  }
  .tree hr {
    margin: 0px;
  }
  
  /*Areas*/
  .area {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8px;
  }
  
  /* Estilos para los círculos */
  .circulo {
    background-color: #f59898;
    color: white;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    z-index: 1;
    border: none;
    cursor: pointer;
    margin-right: 8px;
  }
  .circulo:hover {
    background-color: #ef5350;
    color: white;
  }
  .circulo:focus {
    outline: none;
  }
  
  /*Mensajes de error*/
  .error-message {
    color: #ff7e7e;
    font-size: 12px;
    font-weight: 500;
    display: none;
  }
  .error-message.show {
    display: block;
  }