<div class="container-add-user">
    <div class="container-add">
        <div class="header">
            <div class="imagen">
                <i class="fa-solid fa-user-plus" style="color: #B4A5DE;"></i>
            </div>
            <h1 class="header-title">Invitar usuario - empleado</h1>
        </div>
        <div class="buscar-usuario">
            <h2>Buscar usuario</h2>
            <input type="text" id="NombreUsuario"  class="" placeholder="Ingresa el nombre del usuario">
        </div>
        <div class="wrapper">
            <div class="card user">
                Lista sucursales y areas
            </div>
            <div class="card role">
                <h2>Permisos</h2>
                <div class="alinear">
                    <input class="check-role" type="checkbox" id="checkbox1" name="opciones" value="opcion1">
                    <label for="checkbox1">Agregar comprobantes</label>
                </div>
                <div class="alinear">
                    <input class="check-role" type="checkbox" id="checkbox2" name="opciones" value="opcion1">
                    <label for="checkbox2">Editar comprobantes</label>
                </div>
                <div class="alinear">
                    <input class="check-role" type="checkbox" id="checkbox3" name="opciones" value="opcion1">
                    <label for="checkbox3">Generar reportes</label>
                </div>
                <div class="alinear">
                    <input class="check-role" type="checkbox" id="checkbox4" name="opciones" value="opcion1">
                    <label for="checkbox4">Agregar tasa de cambio</label>
                </div>
            </div>
        </div>
        <div class="invitar">
            <app-my-button  [isGreen]="true"  style="margin-right: 10px;">ENVIAR INVITACION</app-my-button>
            <app-my-button [isRed]="true" (click)="cancel()">CANCELAR</app-my-button>
        </div>
    </div>
</div>