<div class="container-add-user">
    <div class="container-add">
        <div class="header">
            <div class="imagen">
                <i class="fa-solid fa-user-plus" style="color: #B4A5DE;"></i>
            </div>
            <h1 class="header-title">Invitar usuario - empleado</h1>
        </div>
        <div class="buscar-usuario">
            <h2>Buscar usuario</h2>
            <input type="text" id="NombreUsuario" [(ngModel)]="NombreUsuario" class="" placeholder="Ingresa el nombre del usuario">
        </div>
        <div class="wrapper">
            <div class="card user">
                <h2>Lista sucursales y areas</h2>
                <br>
                <div class="surcusal" *ngFor="let subsidiary of subsidiaries">
                    <input class="check-role" type="checkbox" [id]="'subsidiary_' + subsidiary.subsidiaryId" [(ngModel)]="subsidiary.selected" (change)="onSubsidiaryChange(subsidiary.subsidiaryId)">
                    <label [for]="'subsidiary_' + subsidiary.subsidiaryId">{{subsidiary.subsidiaryName}}</label>
                    <hr>
                    <div class="area" *ngFor="let area of areas">
                        <input class="check-role" type="checkbox" [id]="'area_' + area.areaId" [(ngModel)]="area.selected" (change)="onAreaChange(area.areaId)">
                        <label [for]="'area_' + area.areaId">{{area.areaName}}</label>
                      </div>
                </div>
            </div>
            <div class="card role">
                <h2>Permisos</h2>
                <br>
                <div class="alinear" *ngFor="let rol of roles">
                    <input class="check-role" type="checkbox" [id]="'checkbox' + rol.id" [(ngModel)]="rol.seleccionado">
                    <label [for]="'checkbox' + rol.id">{{rol.nombre}}</label>
                </div>
            </div>
        </div>
        <div class="invitar">
            <app-my-button  [isGreen]="true"  style="margin-right: 10px;" (click)="addedUser()">ENVIAR INVITACION</app-my-button>
            <app-my-button [isRed]="true" (click)="cancel()">CANCELAR</app-my-button>
        </div>
    </div>
</div>