/*Quitar los estilos generales*/
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.background {
    background-color: #EEEEEE;
    padding: 5% 20%;
    min-height: 100%;
}
.tap1{
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    min-height: 530px;
}
/*Centrear verticalmente y horizontalmente*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Estilos de letras*/
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #757575;
    margin: 0;
}
/*Estilos para el contenedor*/
.container {
    margin: 20px 0px;
    border: 1px solid #EDEDED;
    border-radius: 5px;
    padding: 25px;
}
.account {
    display: flex;
}
/* Estilos para el botón agregar */
.add-button {
    background-color: #defcf1; 
    color: #66CDAA; 
    border: none;
    border-radius: 2px;
    cursor: pointer;
    width: 30px;
    height: 20px;
    margin-top: 5px;
}
.add-button:hover {
    background-color: #66CDAA;
    color: white;
}
.add-button:focus {
    outline: none;
}
.right-buttom {
    margin-left: 20px;
}
/* Estilos para el botón eliminar */
.delete-button {
    background-color: #FFDBDB; 
    color: #FF0000; 
    border: none;
    border-radius: 100%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding-top: 2px;
    margin-top: 5px;
}
.delete-button:hover {
    background-color: #FF0000;
    color: white; 
}
.right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.large {
    width: auto;
    height: auto;
    border-radius: 5px;
    padding: 5px 10px;
}