<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" integrity="tu-clave-de-api" crossorigin="anonymous">
<app-navbar></app-navbar>
<app-config-navbar [numberOption]="4"></app-config-navbar>
<div class="configuration-tap4" *ngIf="!modeEdit">
    <div class="account-plan">
<!--        <app-account [accounts]="accountPlan"></app-account>-->
      <div class="data">
        <app-my-button-squared (clicked)="setSelectedNode(null)"></app-my-button-squared>
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <button style="margin-left: 8px;" mat-icon-button disabled></button>
            <div class="separator"></div>
            {{node.name}}
            <div class="separator"></div>
            <app-my-button-squared (clicked)="setSelectedNode(node)" data-toggle="modal" data-target="#modal"></app-my-button-squared>
            <div class="right">
              <app-circular-button (clicked)="deleteAccount(node)"></app-circular-button>
            </div>
          </mat-tree-node>
          <hr>
          <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
            <button class="expand-button" mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
              <i style="color: #757575;" class="fa-solid" [ngClass]="{'fa-caret-up': treeControl.isExpanded(node), 'fa-caret-down': !treeControl.isExpanded(node)}"></i>
            </button>
            <div class="separator"></div>
            {{node.name}}
            <div class="separator"></div>
            <app-my-button-squared (clicked)="setSelectedNode(node)" data-toggle="modal" data-target="#modal"></app-my-button-squared>
          </mat-tree-node>
        </mat-tree>
      </div>
    </div>
    <div class="right">
        <button class="edit-button" (click)="edit()">
            <i class="fa-solid fa-pen"></i>
        </button>
    </div>
</div>
<div class="configuration-tap4" *ngIf="modeEdit">



    <div class="right">
        <app-my-button [isGreen]="true" (click)="save()" style="margin-right: 10px;">GUARDAR CAMBIOS</app-my-button>
        <app-my-button [isRed]="true" (click)="cancel()">CANCELAR</app-my-button>
    </div>
</div>
