<div class="tap3">
<div  class="container">
  <div style="margin-top: 20px;">
    <h1>Configuración de la empresa</h1>
    <hr style="margin: 0 0px; border-color:#EDEDED;">
    <app-progress [steps]="[1, 2, 3, 4]" [currentStep]="3"></app-progress>

    <div style="margin-top: 45px; margin-left: 10px" class="wrapper2">
      <form>
        <h2>INICIO DE USO</h2>
        <h2>Fecha de registro de la empresa</h2>
        <div class="form-group" style="width: 70%;">
          <app-my-textfield [control]="dateControl" [placeholder]="placeholderDate" ></app-my-textfield>
        </div>
        <hr style="margin: 0 0px; border-color:#EDEDED;">
        <h2>CANTIDAD DE NIVELES EN EL PLAN DE CUENTAS</h2>
        <h2>Niveles del plan de cuentas</h2>
        <div class="form-group" style="width: 70%;">
          <app-my-textfield [control]="levelControl" [placeholder]="placeholderLevels" ></app-my-textfield>
        </div>
        <hr style="margin: 0 0px; border-color:#EDEDED;">
        <div class = "moneda-principal">
          <h2>MONEDA PRINCIPAL</h2>
          <h2>Bolivianos</h2>
        </div>
        <br>
        <div class="monedas-container">
          <h2>Otras monedas que quiera manejar</h2>

          <app-my-button [buttonLabel]="buttonText1" (clicked)= "onClick()" (click)="agregarMoneda()"></app-my-button>
        </div>

        <div *ngFor="let moneda of monedas" [style.background-color]="color" class="moneda-item">
          {{ moneda.nombre }} <button (click)="removerMoneda(moneda)" class="remove-button">x</button>
        </div>

      </form>

      <!-- Popup para agregar monedas -->
      <!-- Capa de fondo desenfocada -->
      <div class="overlay" *ngIf="mostrarPopup"></div>

      <!-- Popup para agregar monedas -->
      <div *ngIf="mostrarPopup" class="popup">
        <h2>
          <span class="icon">
           <i class="fa-solid fa-coins"></i>
          </span>
          Registro de Moneda
        </h2>
        <h2>Nombre:</h2>
<!--                <app-my-textfield [control]="nameControl" [placeholder]="placeholderCoin" [(ngModel)]="nombreMoneda"></app-my-textfield>-->
        <input type="text" id="popupNombreMoneda" [(ngModel)]="nombreMoneda" class="input">
        <br>
        <h2>Código de Moneda (Código ISO):</h2>
<!--                <app-my-textfield [control]="codeControl" [placeholder]="placeholderISO" [(ngModel)]="codigoISO" ></app-my-textfield>-->
        <input type="text" id="popupCodigoISO" [(ngModel)]="codigoISO" class="input">
        <br>
        <app-my-button [buttonLabel]="buttonText2" (click)= "guardarMoneda()" ></app-my-button>
        <app-my-button [buttonLabel]="buttonText3" (clicked)= "cancelar()"></app-my-button>
      </div>
    </div>
  </div>
</div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

