<div style="margin: 0 4%;">
  <div style="margin-top: 20px;">
    <h1>Configuración de la empresa</h1>
    <hr style="margin: 0 0px; border-color:#EDEDED;">
    <app-progress [steps]="[1, 2, 3, 4]" [currentStep]="3"></app-progress>

    <div style="margin-top: 45px;" class="wrapper2">
      <form>
        <h1>INICIO DE USO</h1>
        <h2>Fecha de registro de la empresa</h2>
        <div class="form-group" style="width: 80%;">
          <app-my-textfield type="text" id="fechaRegistro" [placeholder]="placeholderDate" (textChanged)="onInputText($event)"></app-my-textfield>
        </div>
        <hr style="margin: 0 0px; border-color:#EDEDED;">
        <h1>CANTIDAD DE NIVELES EN EL PLAN DE CUENTAS</h1>
        <h2>Niveles del plan de cuentas</h2>
        <div class="form-group" style="width: 80%;">
          <app-my-textfield type="text" id="nivelesPlan" [placeholder]="placeholderLevels" (textChanged)="onInputText($event)"></app-my-textfield>
        </div>
        <hr style="margin: 0 0px; border-color:#EDEDED;">
        <div class = "moneda-principal">
          <h1>MONEDA PRINCIPAL</h1>
          <h2>Bolivianos</h2>
        </div>
        <br>
        <div class="monedas-container">
          <h2>Otras monedas que quiera manejar</h2>

          <app-my-button [buttonLabel]="buttonText1" (clicked)= "onClick()" (click)="agregarMoneda()"></app-my-button>
        </div>

        <div *ngFor="let moneda of monedas" [style.background-color]="moneda.color" class="moneda-item">
          {{ moneda.nombre }} <button (click)="removerMoneda(moneda)" class="remove-button">x</button>
        </div>

      </form>

      <!-- Popup para agregar monedas -->
      <!-- Capa de fondo desenfocada -->
      <div class="overlay" *ngIf="mostrarPopup"></div>

      <!-- Popup para agregar monedas -->
      <div *ngIf="mostrarPopup" class="popup">
        <h2>Agregar Moneda</h2>
        <label for="popupNombreMoneda">Nombre:</label>
        <!--        <app-my-textfield type="text" id="popupNombreMoneda" [(ngModel)]="nombreMoneda" [placeholder]="placeholderDate" (textChanged)="onInputText($event)"></app-my-textfield>-->
        <input type="text" id="popupNombreMoneda" [(ngModel)]="nombreMoneda">
        <br>
        <label for="popupCodigoISO">Código de Moneda (Código ISO):</label>
        <!--        <app-my-textfield type="text" id="popupCodigoISO" [(ngModel)]="codigoISO" [placeholder]="placeholderDate" (textChanged)="onInputText($event)"></app-my-textfield>-->
        <input type="text" id="popupCodigoISO" [(ngModel)]="codigoISO">
        <br>
        <app-my-button [buttonLabel]="buttonText2" (clicked)= "onClick()" (click)="guardarMoneda()"></app-my-button>
        <app-my-button [buttonLabel]="buttonText3" (clicked)= "onClick()" (click)="cancelar()"></app-my-button>
      </div>
    </div>
  </div>
</div>
