<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" integrity="tu-clave-de-api" crossorigin="anonymous">
<app-navbar></app-navbar>
<app-config-navbar [numberOption]="1"></app-config-navbar>
<div class="configuration-tap1">
    <div class="row-2">
        <div class="titulo">
            <div>
                <i class="fa-solid fa-city icono"></i>
                <h2>IDENTIFICACIÓN</h2>
            </div>
        </div>
        <div class="identificacion-datos">
            <div class="identificacion-campos">
                <div>
                    <h4>Nombre</h4>
                    <input #nombreInput class="input" placeholder="Ingresa el nombre de tu empresa">
                </div>
                <div style="height: 10px;"></div>
                <div>
                    <h4>Rubro</h4>
                    <input #rubroInput class="input" placeholder="Ingresa el rubro al que se dedica">
                </div>
                <div style="height: 10px;"></div>
                <div>
                    <h4>NIT</h4>
                    <input #nitInput class="input" placeholder="Ingresa el NIT de la empresa">
                </div>
            </div>
            <div class="identificacion-imagen">
                <h4>LOGO</h4>
                <div class="logo">
                    <button *ngIf="modoEdicion">
                        <i class="fa-solid fa-camera"></i>
                    </button>
                    <div *ngIf="!modoEdicion"></div>
                    <img src="{{srcLogo}}" alt="Descripción de la imagen">
                </div>
            </div>
        </div>
    </div>
    <div style="height: 15px;"></div>
    <div class="row-2">
        <div class="titulo">
            <i class="fa-solid fa-location-dot icono" style="font-size: 30px;"></i>
            <h2>UBICACIÓN</h2>
        </div>
        <div class="campos">
            <h4>Dirección</h4>
            <input #direccionInput class="input" placeholder="Ingresa la dirección de la empresa">
        </div>
    </div>
    <div style="height: 15px;"></div>
    <div class="row-2">
        <div class="titulo">
            <div>
                <i class="fa-solid fa-phone icono" style="font-size: 30px;"></i>
                <h2>CONTACTO</h2> 
            </div>
        </div>
        <div class="campos">
            <div>
                <h4>E-mail de contacto:</h4>
                <input #emailInput class="input" placeholder="Ingresa un e-mail de contacto">
            </div>
            <div style="height: 10px;"></div>
            <div>
                <h4>Número de contacto</h4>
                <input #numeroContactoInput class="input" placeholder="Ingresa un número de contacto">
            </div>
        </div>
    </div>
    <div class="right">
        <button *ngIf="!modoEdicion" class="edit-button" (click)="editar()">
            <i class="fa-solid fa-pen"></i>
        </button>
        <app-my-button *ngIf="modoEdicion" [isGreen]="true" (click)="guardar()">GUARDAR CAMBIOS</app-my-button>
    </div>
</div>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@800&display=swap" rel="stylesheet">