<app-navbar></app-navbar>
<div class="configuration-tap1">
    <!-- div icono y palabra configuración -->
    <div class="padre">
        <img src="./assets/icons/configuraciones.png" class="icono">
        <h1>Configuración</h1>
    </div>
    <div class="config">
        <p>¡Haz que todo funcione a tu manera! Administra tus configuraciones aquí.</p>
    </div>
    <!-- Listado de configuraciones -->
    <div class="config">
        <a routerLink="#"><h3>Datos de la empresa</h3></a>
        <a routerLink="#"><h2>Sucursales y áreas</h2></a>
        <a routerLink="#"><h2>Generales</h2></a>
        <a routerLink="#"><h2>Plan de cuentas</h2></a>
        <a routerLink="#"><h2>Usuarios y permisos</h2></a>
    </div>
    <hr>
    <!-- Nota: arreglar coloreado de linea -->
    <!-- div formulario -->
    <div class="formulario">
        <div class="identificacion">
            <div class="wrapper">
                <div class="imagen">
                    <img src="/assets/icons/empresa.png" alt="Descripción de la imagen"> 
                </div>
                <div class="identificacion-b">
                    <div>
                        <div class="input-d">
                            <h4>Nombre</h4>
                            <input class="input" placeholder="Ingresa el nombre de tu empresa">
                        </div>
                        <div class="input-d">
                            <h4>Rubro</h4>
                            <input class="input" placeholder="Ingresa el rubro al que se dedica">
                        </div>
                        <div class="input-d">
                            <h4>NIT</h4>
                            <input class="input" placeholder="Ingresa el NIT de la empresa">
                        </div>
                        <div>
                            
                            
                        </div>
                    </div>
                    <div>
                       
                        
                    </div>
                    
                </div>

            </div>
        </div>
        <div class="ubicacion">
            <div class="wrapper">
                <div class="imagen">
                    <img src="/assets/icons/pasador-de-ubicacion.png" alt="Descripción de la imagen"> 
                </div>
                <div class="ubicacion-b">
                    <div class="input-d">
                        <h4>Dirección</h4>
                        <input class="input" placeholder="Ingresa la dirección de la empresa">
                    </div>
                </div>

            </div>
        </div>
        <div class="contacto">
            <div class="wrapper">
                <div class="imagen">
                    <img src="/assets/icons/contacto.png" alt="Descripción de la imagen"> 
                </div>
                <div class="contacto-b">
                    <div class="input-d">
                        <h4>E-mail de contacto:</h4>
                        <input class="input" placeholder="Ingresa un e-mail de contacto">
                    </div>
                    <div class="input-d">
                        <h4>Número de contacto</h4>
                        <input class="input" placeholder="Ingresa un número de contacto">
                    </div>
                </div>

            </div>
            
        </div>
        <button class="boton-degradado">Mi botón</button>
    </div>
   
</div>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Telugu:wght@800&display=swap" rel="stylesheet">