<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css" integrity="tu-clave-de-api" crossorigin="anonymous">
<app-navbar></app-navbar>
<app-config-navbar [numberOption]="1"></app-config-navbar>
<div class="configuration-tap1">
    <div class="row-2">
        <div class="titulo">
            <div>
                <i class="fa-solid fa-city icono"></i>
                <h2>IDENTIFICACIÓN</h2>
            </div>
        </div>
        <div class="identificacion-datos">
            <div class="identificacion-campos">
                <app-my-textfield type="text" iconInput="fa-regular fa-building" label="Nombre" [control]="controlName" [pattern]="patternAll" errorMessage="Ingrese un valor válido" placeholder="Ingrese el nombre de tu empresa"></app-my-textfield>
                <div style="height: 15px;"></div>
                <app-my-textfield type="text" iconInput="fa-regular fa-store" label="Rubro" [control]="controlRubro" [pattern]="patternAll" errorMessage="Ingrese un valor válido" placeholder="Ingrese el rubro al que se dedica"></app-my-textfield>
                <div style="height: 15px;"></div>
                <app-my-textfield type="text" iconInput="fa-regular fa-id-card" label="NIT" [control]="controlNit" [pattern]="patternAll" errorMessage="Ingrese un valor válido" placeholder="Ingrese el NIT de la empresa"></app-my-textfield>
            </div>
            <div class="identificacion-imagen">
                <h4>LOGO</h4>
                <div class="logo">
                    <button *ngIf="modeEdit" (click)="imgLogo.click()">
                        <i class="fa-solid fa-camera"></i>
                    </button>
                    <input type="file" accept="image/*" #imgLogo style="display:none" (change)="onFileSelectedLogo($event)">
                    <div *ngIf="!modeEdit"></div>
                    <img src="{{logoUuid}}" alt="Descripción de la imagen">
                </div>
            </div>
        </div>
    </div>
    <div style="height: 15px;"></div>
    <div class="row-2">
        <div class="titulo">
            <i class="fa-solid fa-location-dot icono" style="font-size: 30px;"></i>
            <h2 style="padding-top: 8px;">UBICACIÓN</h2>
        </div>
        <div class="campos">
            <app-my-textfield type="text" iconInput="fa-regular fa-map-marker-alt" label="Dirección" [control]="controlAddress" [pattern]="patternAll" errorMessage="Ingrese un valor válido" placeholder="Ingrese la dirección de la empresa"></app-my-textfield>
        </div>
    </div>
    <div style="height: 15px;"></div>
    <div class="row-2">
        <div class="titulo">
            <div>
                <i class="fa-solid fa-phone icono" style="font-size: 30px;"></i>
                <h2>CONTACTO</h2> 
            </div>
        </div>
        <div class="campos">
            <div>
                <app-my-textfield type="email" iconInput="fa-regular fa-envelope" label="E-mail de contacto" [control]="controlContactEmail" placeholder="Ingrese un e-mail de contacto" [pattern]='patternEmail' errorMessage="Por favor, ingrese una dirección de correo electrónico válida."></app-my-textfield>    
            </div>
            <div style="height: 15px;"></div>
            <div>
                <app-my-textfield type="text" iconInput="fa-regular fa-phone" label="Número de contacto" [control]="controlContactName"  placeholder="Ingrese un número de contacto"  [pattern]="patternNumber" errorMessage="Por favor, ingrese un número de contacto válido."></app-my-textfield>
            </div>
        </div>
    </div>
    <div class="error-message" #errorMessage>Por favor, complete todos los campos de forma correctamente.</div>
    <div class="right">
        <button *ngIf="!modeEdit" class="edit-button" (click)="enable()">
            <i class="fa-solid fa-pen"></i>
        </button>
        <app-my-button *ngIf="modeEdit" [isGreen]="true" (click)="save()" style="margin-right: 10px;">GUARDAR CAMBIOS</app-my-button>
        <app-my-button *ngIf="modeEdit" [isRed]="true" (click)="cancel()">CANCELAR</app-my-button>
    </div>
</div>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>