/*Background*/
.container-balance-sheet {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.322); 
    backdrop-filter: blur(5px);
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Contenedor*/
.balance-sheet {
    background-color: white;
    border-radius: 10px;
    padding: 30px 40px;
    box-sizing: border-box;
    width: 60%;
}
@media screen and (max-width: 1125px) {
    .balance-sheet {
        width: 90%;
    }
}
/*Textos*/
h1 {
    font-size: 23px;
    font-weight: 700;
    margin: 0 0 0 15px;
}
h2, label {
    font-size: 16px;
    color: #757575;
    font-weight: 500;
    margin: 0;
}
label {
    font-weight: 400;
    
}
/*Título*/
.header{
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 55px 1fr 1fr;
    margin-bottom: 20px;
    position: relative;
}
.logo {
    width: 55px;
    height: 55px;
    background-color: #FFF5F8;
    border-radius: 100%;
    font-size: 30px;
}
.title {
    display: flex;
    align-items: center;
}
.close {
    position: absolute;
    top: 0;
    right: 0;
}
/*Sucursales y areas*/
.row-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.card {
    height: 150px;
    border-radius: 10px;
    border: 1px solid #E0E0E0;
    padding: 10px 15px;
    box-sizing: border-box;
    overflow-y: auto;
    margin: 5px 0 20px 0;
}
/*Periodo*/
.period {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 15px;
}
input[type="date"], select {
    color: #757575;
    font-size: 16px;
    border: 1px solid #FFF5F8;
    border-radius: 5px;
    width: 100%;
    padding: 3px 10px;
    outline: none;
}
input[type="checkbox"] {
    border: 3px solid #FFF5F8;
    outline: none;
    background-color: #FFF5F8;
}

.title h2 {
    margin-right: 15px;
}


/*Monedas*/
.money {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
}
select {
    padding: 5px 10px;
}
.select-money {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/*Responsables*/
.responsibles{
    margin-bottom: 15px;
    margin-top: 10px;
}
.firmas{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-top: 10px;
}
.Nombre{
    margin: 10px 10px;
    border-radius: 10px;
    border: none;
    height: 60px;
    padding: 5px;
}
/*Botones*/
.buttons {
    display: flex;
    justify-content: flex-end;
    font-size: 40px;
}