<div class="wrapper">
  <div class="container">
    <div class="title">
      <h2>{{ selectedRecord ? 'Editar Tipo de Cambio' : 'Agregar Tipo de Cambio' }}</h2>
      <i class="fa-solid fa-xmark" (click)="close()"></i>
    </div>
    <hr>
    <div>
      <form [formGroup]="form">
        <mat-grid-list cols="1" rowHeight="25px">
          <mat-grid-tile>
            <h3>
              {{ date }}
            </h3>
          </mat-grid-tile>
          <mat-grid-tile>
            <h3>
              MONEDA PRINCIPAL: {{principalCurrency.moneyName}}
            </h3>
          </mat-grid-tile>
          <mat-grid-tile *ngIf="errorMessage!=''">
            <p class="error">{{errorMessage}}</p>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="2" rowHeight="75px" >
          <div *ngFor="let currency of currencies" >
            <mat-grid-tile [colspan]="1" *ngIf="!currency.isPrincipal">
              <app-my-textfield type="text"
                                iconInput="fa-light fa-money-bill"
                                [label]="currency.abbreviationName"
                                [control]="getCurrencyControl(currency.abbreviationName)"
                                [pattern]="patternAll"
                                [errorMessage]="patternAllMessage"
                                [placeholder]="'Ingrese el valor para ' + currency.abbreviationName">
              </app-my-textfield>
            </mat-grid-tile>
          </div>
        </mat-grid-list>
        
        <div class="buttons-container">
          <app-my-button [isGreen]="true" (click)="saveOrUpdate()">
            {{ selectedRecord ? 'EDITAR' : 'AGREGAR' }}
          </app-my-button>
          <app-my-button [isRed]="true" *ngIf="selectedRecord" (click)="cancelEdit()">CANCELAR</app-my-button>
        </div>
      </form>
    </div>
  </div>
</div>
