.button {
  border: 0 !important;
  border-radius: 7px;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #66CDAA;
}

.button-sec {
  border: 0 !important;
  border-radius: 7px;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  background-color: #FF6347;
}
